*{margin:0;padding:0;font-family:"微软雅黑";}

#content{
	width:980px;
	height:1386px;
}

#title{
	height:61px;
	border-bottom:2px solid #938e8c;
	margin-bottom:40px;
}

#title p{
	color:#d45d5c;
	position:relative;
	top:-18px;
	left:850px;
}

.fz{
	font-size:12px;
}

.fm{
	font-family: "黑体";
}

#yuming{
	width:110px;
	height:61px;
	background-color: rgb(213, 93, 92);
}

#yuming p{
	color:#fff;
	position:relative;
	top:43px;
	left:5px;
}

.auto{
	margin:0 auto;
	width:892px;
}

.main_img{
	width:641px;
	height:301px;
	display:inline-block;
}

.mohu{
	width:191px;
	height:301px;
	opacity:0.5;
	position:relative;
	top:-305px;
	display:inline-block;
}

#s_left{
	background-color: #00EE76;
}

#s_right{
	background-color: #EEA9B8;
	float:right;
}

#sr{
	width:203px;
	height:301px;
	border-top:2px solid #cc8091;
	display:inline-block;
	float:right;
}

#sr_top p{
	font-size:18px;
	color:#000000;
	text-decoration:underline;
	font-weight:normal;
	
}

#sr_top p big{
	font-size:24px;
	vertical-align:text-bottom;
}

#sr_top #sm{
	font-size:12px;
	font-family:"楷体";
	color:#676767;
	text-decoration:none;
}