.flex{
	display:flex;
	flex-flow:row wrap;/*主轴方向左到右 允许多行*/
	justify-content:space-around;
	align-items:center;
	border:1px solid black;
}
.parent{
	width:800px;
	height:300px;
}
.first{
	width:300px;
	height:140px;
}
.second{
	width:80px;
	height:70px;
}
.third{
	width:80px;
	height:60px;
}
.fourth{
	width:35px;
	height:30px;
}
.inquire{
	background-color: #D6D6D6;
	color:#fff;
	border-width:3px;
}
button{
	width:100px;
	height:35px;
	font-size:20px;
	font-family: '微软雅黑';
	border:none;
}
button:hover{
	background-color: #DEDEDE;
	color:#fff;
}
input{
	width:250px;
	height:30px;
	font-size:20px;
	line-height:30px;
}